{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1 class="text-center">Hola mundo</h1> 
    <img src="{% static 'imagenes/bienvenidos.png' %}" alt="">
    <p class="text-justify">Lorem, ipsum <span class="text-danger">dolor</span> sit amet consectetur adipisicing elit. Vero quasi, distinctio corrupti expedita, nemo fuga qui, quaerat consequuntur aspernatur modi molestias labore quia quam ex dolores saepe architecto. Omnis, non! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi veritatis explicabo modi sint numquam animi ipsa, dolore ad laboriosam assumenda praesentium eos architecto cum sapiente autem deserunt tenetur voluptatibus non!Lorem Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis delectus deserunt quo doloribus placeat, ducimus magni labore impedit neque nihil hic aspernatur molestiae totam repellendus exercitationem odio dolorum ipsum quisquam.</p>
</body>
</html> 